@import '../../node_modules/swiper/swiper-bundle.css';
@import 'bootstrap';
@import 'components';

* {
  font-family: 'Lato', sans-serif;
}

img {
  user-select: none;
}

//fonsts
.ff-poppins {
  font-family: 'Poppins', sans-serif;
}

#funcionalidades, #contato {
  background: #f9f9f9;
}

#cadastro {
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 128px;
    position: sticky;
    top: 128px;
  }
}