@import 'bootstrap';
@import 'components';

* {
  font-family: 'Lato', sans-serif;
}

//fonsts
.ff-poppins {
  font-family: 'Poppins', sans-serif;
}

#funcionalidades, #contato {
  background: #f9f9f9;
}